body{
    background-color: #FFFFFF;
    
  }

  table tbody tr:nth-child(odd) {
    background: #6188a1;
  }

  a {
    color: #FFFFFF;
  }

  h2{
    margin: auto;
    text-align:center;
    font-family:'Bebas Neue', cursive;
    color: #d9f1ea;
    font-size: 40px;
    }
    h3{
        margin: auto;
        text-align:center;
        font-family:'Bebas Neue', cursive;
        color: #d9f1ea;
        font-size: 25px;
        }
h1{
    color: #cac6a4;
    font-family: 'Bebas Neue', cursive;
    font-size: 60px;
}
a{   
    text-decoration: none;
    padding: 2px 20px 0; /*el 20 es el espacio entre los botones del menu los demas numeros no les cacho*/
    color:#f8b864;
    font-size: 20px;
}
a:focus{  /*Para cuando se da clic*/
    border-bottom: 1px solid;
    background: #eba13c;
}
a:hover { /*Para pasar pon encima el mouse*/
    
    background:#eba13c;
  }

  table td {   /*Centrar los elementos de la cabecera logo,titulo,etc*/
    text-align: center;
    color:#6188a1;
  }