<!DOCTYPE html>
<html>

<head>
  <title>Contar UPC en el barrio</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='menu.css', _external=True) }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='upc.css', _external=True) }}">
</head>

<body>
  <header>
    <h1>Unidades de Policía Comunitaria</h1>

    <nav>
      <ul>
        <li><a href="{{ url_for('inicio')  }}">Inicio</a></li>
        <li><a href="{{ url_for('sobreNosotros') }}"> Sobre nosotros</a></li>
        <li><a href="{{ url_for('ejemplo') }}">Consulta General</a> </li>
        <li><a href="{{ url_for('formulario_contar_upc')  }}" method="GET"> Numero de UPC's por barrio</a></li>
        <li><a href="{{ url_for('formulario_contar_pandillas') }}">Contar pandillas</a></li>
      </ul>
    </nav>
  </header>


  <h1>Contar UPC en el barrio</h1>
  <p>Por favor ingrese los nombres de la ciudad y el barrio:</p>
  <form method="POST" action="/contar_upc">
    <label for="nombre_ciudad">Nombre de la ciudad:</label>
    <input type="text" name="nombre_ciudad">

    <label for="nombre_barrio">Nombre del barrio:</label>
    <input type="text" name="nombre_barrio">

    <button type="submit">Contar UPC</button>
  </form>

</body>

</html>