body{
    background-color: #ffffff;
    
  }

  table{
<<<<<<< HEAD
    background-color:#3A6993;
  }

  
=======
    background-color:#42729E;
  }

  h2{
    margin: auto;
    text-align:center;
    font-family:'Bebas Neue', cursive;
    color: #d9f1ea;
    font-size: 40px;
    }
h3{
   margin: auto;
  text-align:center;
  font-family:'Bebas Neue', cursive;
  color: #d9f1ea;
  font-size: 25px;
}

>>>>>>> 24e95c4897a2c49127a90bcb141b142fe25b478d
h1{
    color: #cac6a4;
    font-family: 'Bebas Neue', cursive;
    font-size: 60px;
}

a{
    
    text-decoration: none;
    padding: 2px 20px 0; /*el 20 es el espacio entre los botones del menu los demas numeros no les cacho*/
    color:#ffffff;
    font-size: 20px;
    font-family:Georgia, Times, 'Times New Roman', serif;
}

a:focus{  /*Para cuando se da clic*/
    border-bottom: 1px solid;
    background: #fa8619;

}

a:hover { /*Para pasar pon encima el mouse*/
    
    background: #fa6806;
    color: #000000;
  }

  table td {   /*Centrar los elementos de la cabecera logo,titulo,etc*/
    text-align: center;

  }

  table.submenu{
    background-color: #BBC8D4;
<<<<<<< HEAD
    
  }
  
=======
  }
>>>>>>> 24e95c4897a2c49127a90bcb141b142fe25b478d
