* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url("AURONPLAY.jpg");
    background-size: cover;
    
}

/* For mobile phones: */
[class*="col-"] {
    width: 100%;
  }
  
  @media only screen and (min-width: 600px) {
    /* For tablets: */
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}
  }
  @media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
  }


.form-deals {
    width: 400px;
    background: #24363c;
    padding: 30px;
    margin: auto;
    margin-top: 100px;
    border-radius: 4px;
    font-family: 'calibri';
    color: white;
    box-shadow: 7px 13px 37px #000;
}

.form-deals h1 {
    font-size: 35px;
    margin-bottom: 30px;
}

.controls {
    width: 100%;
    background: #24303c;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid #1f53c5;
    font-family: 'calibri';
    font-size: 18px;
    color: white;

}

.form-deals p {
    height: 40px;
    text-align: center;
    font-size: 18px;
    line-height: 40px;
}

.form-deals a {
    color: white;
    text-decoration: none;
}

.form-deals a:hover {
    color: white;
    text-decoration: underline;
}

.form-deals .buttons {
    width: 100%;
    background: #1f53c5;
    border: none;
    padding: 12px;
    color: white;
    margin: 16px 0;
    font-size: 16px;
}

.img_container {
    text-align: center;
}
.tacbox {
    color: #000;
  display:block;
  padding: 1em;
  margin: 2em;
  border: 3px solid #ddd;
  background-color: rgb(48, 195, 203);
  max-width: 800px;
}

input {
  height: 2em;
  width: 2em;
  vertical-align: middle;
}